body {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-image: url('/images/img_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    img {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }
}

.container {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    margin-top: calc(50% + 30px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span {
    background: rgb(255, 70, 70);
    background: -moz-linear-gradient(
        left,
        rgba(255, 70, 70, 1) 0%,
        rgba(238, 80, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        left,
        rgba(255, 70, 70, 1) 0%,
        rgba(238, 80, 255, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 70, 70, 1) 0%,
        rgba(238, 80, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}
